/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f9;
}

.container {
    width: 80%;
    max-width: 1200px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#chart {
    width: 100%;
    height: 600px;
}

#buttonsDivId {
    text-align: center;
    margin: 20px 0;
}

button {
    background-color: #59b465be;
    color: #252c25e3;
    font-weight: 700;
    outline: rgb(65, 143, 107);
    cursor: pointer;
    padding: 0.5%;
    font-size: 13px;
    border-radius: 5px;
    margin: 0 10px;
}

.btn {
    width: 160px;
}

button:hover {
    background-color: #477c4a6b;
    color: black;
}

.btn-summer {
    background-color: #FFFE6F;
}

.btn-summer:hover {
    background-color: #ffff6f5d;
    color: black;
}

.btn-winter {
    background-color: #B3DAF1;
}

.btn-winter:hover {
    background-color: #b3daf17a;
    color: black;
}

.btn-home {
    background-color: #fdc34ed5;
}

.btn-home:hover {
    background-color: #ffcc6671;
    color: black;
}

button:disabled,
button[disabled] {
    background-color: #a1a1a18c;
    color: #666666ad;
}

#venueDivId h2 {
    font-family: 'Helvetica Neue', Helvetica, Roboto, Ubuntu, Oxygen, Impact, Charcoal, sans-serif;
    text-align: center;
    width: 85%;
    padding: 1%;
    position: relative;
    color: #293929;
    font-size: 110%;
    line-height: 60%;
    margin: auto;
    border-radius: 5px;
    background: #51a05b70;
    border: 0px solid #51a05b70;
}

#yearsDivId p {
    font-family: Helvetica, Charcoal, sans-serif, Arial;
    text-align: center;
    width: 85%;
    padding: 1%;
    position: relative;
    color: #293929;
    font-size: 85%;
    margin: auto;
}

#yearsDivId a:link,
#yearsDivId a:visited {
    color: #293929;
    background-color: transparent;
    text-decoration: none;
}

#yearsDivId a:hover {
    color: red;
    background-color: transparent;
}

#yearsDivId a:active {
    color: #293929;
    background-color: transparent;
}

#sourceDivId p {
    font-family: 'Helvetica Neue', Helvetica, Charcoal, sans-serif, Arial;
    text-align: left;
    width: 85%;
    position: relative;
    color: #293929;
    font-size: 65%;
}

p {
    font-family: 'Helvetica Neue', Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif, Times, serif;
    font-size: 90%;
    text-align: center;
    width: 60%;
    margin: auto;
}

#footer p {
    font-family: Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Times, serif;
    font-size: 80%;
    text-align: center;
    width: 100%;
    padding: 0%;
    font-weight: 400;
    position: fixed;
    color: rgb(73, 57, 57);
    margin: auto;
    bottom: 0;
}

#header h1,
h4 {
    width: auto;
    display: table;
    text-align: center;
    color: #293929;
    margin: auto;
    height: 60%;
    line-height: 100%;
    padding: 1%;
    position: relative;
    font-family: Impact, Roboto, Charcoal, sans-serif;
    font-size: 170%;
}

#header h4 {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Times, serif;
    font-style: italic;
    font-size: 100%;
}

circle {
    stroke: rgba(26, 23, 23, 0.568);
    stroke-width: 1px;
    shape-rendering: geometricPrecision;
}

circle:hover {
    stroke: black;
    stroke-width: 2px;
}

.bar {
    stroke: rgba(26, 23, 23, 0.568);
    stroke-width: 1px;
}

.bar:hover {
    stroke-width: 2px;
}

.axis line {
    stroke: #808080;
    shape-rendering: crispEdges;
}

.axis path {
    stroke: #808080;
}

.axis text {
    font-weight: 500;
}

